@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	direction: ltr;
	background-image:url(images/bg.jpg);
	background-repeat:repeat;
}
.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 76px;
	width: 271px;
	margin-top: 20px;
}
.nav {
font-family: 'Oswald', sans-serif;
font-size: 16px;
width: 490px;
float: left;
margin-top: 35px;
}

.nav li {
	margin-left: 20px;
float: left;
height: 33px;
width: 99px;
padding-top: 10px;
text-align: center;
}
.nav li:hover {
	color:#b5a15a;
}
.header-r {
	float: left;
width: 150px;
margin-left: 35px;
}
.eng {
	background-image: url(images/lang.png);
	background-position: left bottom;
	display: inline-block;
	height: 14px;
	width: 19px;
	float: left;
	margin-top: 10px;
}
.fbook {
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	background-position: left;
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 9px;
	margin-left: 20px;
}
.callnow {
	background-image: url(images/call-now.png);
	background-repeat: no-repeat;
	height: 44px;
	width: 141px;
	margin-top: 16px;
}
.welcome-banner {
	background-image: url(images/big-banner.png);
	background-repeat: no-repeat;
	height: 263px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	padding-top: 1px;
	margin-top: 20px;
}
.welcome-par {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 14px;
	color: #FFF;
	width: 490px;
	margin-top: 70px;
margin-left: 20px;
text-align: justify;
}
.welcome-title {
	background-image: url(images/welcome-title.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 264px;
	padding-bottom: 5px;
}
.hand {
	background-image: url(images/hand.png);
	background-repeat: no-repeat;
	height: 194px;
	width: 421px;
	position: absolute;
	top: 40px;
	right: 0px;
}
.sections{
	margin-top:20px;
	height:175px;}
.news-title {
	background-image: url(images/section-titles.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	width: 186px;
}
.story-date {
	font-size: 10px;
	font-weight: bold;
	color: #F00;
	margin-top: 5px;
	margin-bottom:5px;
}
.headline {
	font-size: 12px;
	font-weight: bold;
	color: #8E6B0D;
	margin-bottom:5px;
}
.sections li p {
	line-height: 15px;
}
.n-summary {
	margin-top: 5px;
	text-align: justify;
}
.vall {
	background-image: url(images/view-all.png);
	background-repeat: no-repeat;
	float: right;
	height: 20px;
	width: 69px;
	display: inline-block;
	margin-top: 6px;
}
.calculator-title {
	background-image: url(images/section-titles.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	width: 228px;
}
.calc-btn {
	background-image: url(images/calculate-btn.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 35px;
	width: 152px;
	margin-top: 5px;
	float: right;
}

.calc-btn:hover {
	opacity:0.4;
filter:alpha(opacity=40);
	}
.rmore {
	font-weight: bold;
	color: #8E6B0D;
	text-decoration: underline;
	float: right;
	margin-top: 12px;

}
.footer {
	background-image: url(images/footer-bg.png);
	height: 123px;
	width: 100%;
	background-repeat: repeat-x;
}
.footer-map {
	width: 320px;
	padding-top: 30px;
line-height: 20px;
float: left;
}
.footer-map li a {
	color: #d3bc7f;
	text-decoration: none;
}
.small-logo {
	background-image: url(images/white-logo.png);
	background-repeat: no-repeat;
	float: right;
	height: 57px;
	width: 57px;
	margin-top: 34px;
}
.crtxt{
	width:155px;
	float:right;
	text-align:center;
	font-size:11px;
	color:#FFF;
	margin-top: 55px;
margin-right: 15px;
line-height:14px;}


.crtxt a{
	color:#d3bc7f}

.footer-map li a:hover{
	text-decoration:underline;}

.footer-map li {
	float: left;
	margin-left: 10px;
	width: 80px;
	font-size: 11px;
}




.serv-title {
	background-image: url(images/section-titles.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 26px;
	width: 220px;
}




.vall:hover{opacity:0.4;
filter:alpha(opacity=40);}




.sections li {
	float: left;
	width: 290px;
	margin-right: 15px;
margin-left: 15px;
}

.clear {
	clear: both;
}

.twitter {
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 9px;
	margin-left: 5px;
}

.ytube {
	background-image: url(images/social.png);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	margin-top: 9px;
	margin-left: 5px;
}
.ytube:hover{opacity:0.4;
filter:alpha(opacity=40);}
.twitter:hover{
	opacity:0.4;
filter:alpha(opacity=40);}

.fbook:hover {
	opacity:0.4;
filter:alpha(opacity=40);}

.eng:hover{
	background-position:left top;}
	
.ar {
	background-image: url(images/lang.png);
	background-position: right top;
	display: inline-block;
	height: 14px;
	width: 19px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}	
.ar:hover{
	background-position:right bottom;}

.nav li a{
	color:#004b3e;
	text-decoration:none;
	height: 33px;
width: 100px;
padding-top: 7px;
text-align: center;
display: table-cell;
}

.nav li a:hover{
	color:#b5a15a;
	background-image: url(images/item-bg.png);
	background-repeat:no-repeat;
}

.header{
	height:95px;}
